@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');
@font-face {
	font-family: 'FonteLogo';
	src: url('../_fonts/bubblegum-sans-regular.otf');
}

body{
	background-color: #dddddd;
	color: rgba(0,0,0,0.8);
}
div#interface{
	width: 900px;
	background-color: white;
	margin: -30px auto 0px auto; /*cima, direita, baixo, esquerda*/
	box-shadow: 0px 0px 10px rgba(0,0,0,.5); /*sombra envolta do objeto (desloc. lat, desloc.  vertical, esplhamento sombra, cor)*/
	padding: 10px 10px 10px 10px; /*texto*/
	
}
p{
	text-align: justify;
	text-indent: 50px;
}
header#cabecalho img#icone {
	position: absolute;
	left: 960px;
	top: 55px;
}
header#cabecalho{
	border-bottom: 1px #606060 solid; /*largura da borda, cor da borda, formato*/
	height: 150px; /*altura*/
	background: url("../_imagens/glass-logo-peq.jpg") no-repeat 0px 80px; /*.. para voltar a pasta, 
	no-repeat pra imagem não ficar repetida, desloc lateral e vertical*/
}
header#cabecalho h1{
	font-family: FonteLogo, sans-serif;
	font-size: 30pt;
	color: #606060;
	text-shadow: 1px 1px 1px rgba(0,0,0,.6);
	padding: 0px;
	margin-bottom: 0px; /*margem abaixo*/
}
header#cabecalho h2{
	font-family: 'Titillium Web', sans-serif;
	color:#888888;
	font-size: 15pt;
	padding: 0px;
	margin-top: 0px;
}

/*Formatação legenda imagens*/
figure.foto-legenda{
	position: relative;
	border: 8px solid white;
	box-shadow: 1px 1px 4px black;
}
figure.foto-legenda img{
	width: 100%;
	height: 100%;
}
figure.foto-legenda figcaption{
	opacity: 0;
	position: absolute;
	top:0px;
	background-color: rgb(0,0,0,0.4);
	color: white;
	width: 100%;
	height:100%;
	padding: 10px;
	box-sizing: border-box;
	transition: opacity 1s; /*Tempo de transição qnd passar o mouse em cima */
}
/* pra aparecer só quando passar o mouse por cima*/
figure.foto-legenda:hover figcaption{
	opacity: 10;
}
/*Formatação do menu */
nav#menu{
	display: block; /*para "flutuar" pela tela*/
}
nav#menu ul{
	list-style: no; /*tirar marcador */
	text-transform: uppercase; /*letras em maisculo*/
	position: absolute; 
	top: -20px; /*topo da página*/
	left:470px;
}
nav#menu li{
	display: inline-block; /*botões em linha*/
	background-color: #dddddd;
	padding: 10px; /*tamanho do quadro*/
	margin: 4px; /*espaço fora do objeto */
	/*http://expressprefixr.herokuapp.com/ pra ser compatível com vários navegadores*/
	-webkit-transition: background-color: 1s;
	-moz-transition: background-color: 1s;
	-ms-transition: background-color: 1s;
	-o-transition: background-color: 1s;
	transition: background-color: 1s;
}
nav#menu li:hover{ /*efeito mouse por cima */
	background-color: #606060;
}
nav#menu h1{
	display: none; /*esconder item menu princ*/
}
nav#menu a{
	color: #000000;
	text-decoration: none; /*tirar sublinhado*/
}
nav#menu a:hover{
	color: white; /*mudar de cor quando mouse passar por cima*/
	
}